.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #703b09;
  color: #fff;
  padding: 0 20px;
  z-index: 8;
}

.Toolbar nav {
  height: 100%;
}
